<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.budikdamberapp">

    <uses-feature android:name="android.hardware.camera2.ar" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Intro.NoActionBar">

        <activity
            android:name="com.example.budikdamberapp.PengertianActivity"
            android:label="@string/title_activity_pengertian"
            android:theme="@style/Theme.Intro.NoActionBar" />
        <activity
            android:name="com.example.budikdamberapp.InstalasiActivity"
            android:label="@string/title_activity_instalasi"
            android:theme="@style/Theme.Intro.NoActionBar" />
        <activity
            android:name="com.example.budikdamberapp.PerawatanActivity"
            android:label="@string/title_activity_perawatan"
            android:theme="@style/Theme.Intro.NoActionBar" />
        <activity
            android:name="com.example.budikdamberapp.PerkembanganActivity"
            android:label="@string/title_activity_perkembangan"
            android:theme="@style/Theme.Intro.NoActionBar" />
        <activity
            android:name="com.example.budikdamberapp.HandlerPanduan"
            android:label="@string/title_activity_panduan"
            android:theme="@style/Theme.Intro.NoActionBar" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.google.ar.core" android:value="required" />
        <activity android:name="com.example.budikdamberapp.MainActivity" />
        <activity android:name="com.example.budikdamberapp.HandlerScan" />

    </application>

</manifest>